{% extends "base.html" %}
{% block content %}
<div style="max-width: 800px; margin: 0 auto; padding: 20px; font-family: 'Gothic A1', sans-serif;">
    <h2 style="text-align:center; color:#2d572c; margin-bottom:10px;">크롬 확장 프로그램 설치</h2>
    <p style="text-align:center; font-size:16px; color:#555;">
        아래 버튼을 눌러 확장 프로그램을 다운로드하세요.
    </p>

    <div style="text-align:center; margin:20px 0;">
        <a href="{{ url_for('static', filename='extension/deepfake-extension.zip') }}" 
           style="display:inline-block; background:#2d572c; color:#fff; padding:12px 24px; border-radius:8px; text-decoration:none; font-size:18px;">
            다운로드
        </a>
    </div>

    <hr style="margin:30px 0;">

    <h3 style="color:#2d572c;">설치 방법</h3>
    <ol style="font-size:16px; line-height:1.8; color:#333;">
        <li><b>크롬 주소창</b>에 <code>chrome://extensions</code> 입력 후 Enter</li>
        <li>우측 상단에서 <b>개발자 모드</b> 활성화</li>
        <li><b>압축해제된 확장 프로그램 로드</b> 클릭</li>
        <li>다운로드한 zip 파일 압축 해제 후 폴더 선택</li>
	<li>오른쪽 상단의 <b>퍼즐모양<b>을 누르고 <b>핀<b>을 눌러 고정 </li>
    </ol>

    <div style="margin-top:20px;">
        <h4 style="color:#444;">참고 이미지</h4>
        <img src="{{ url_for('static', filename='images/extension-guide/extension1.png') }}" 
             alt="chrome://extensions 입력" style="width:100%; max-width:700px; border:1px solid #ddd; margin-bottom:15px;">
        <img src="{{ url_for('static', filename='images/extension-guide/extension2.png') }}" 
             alt="우측 상단의 개발자 모드 활성화" style="width:100%; max-width:700px; border:1px solid #ddd;">
	<img src="{{ url_for('static', filename='images/extension-guide/extension3.png') }}"
	     alt="압축해제된 확장 프로그램 로드" style="width:100%; max-width:700px; border:1px solid #ddd;">
	<img src="{{ url_for('static', filename='images/extension-guide/extension4.png') }}"
             alt="deepfake-decter 선택" style="width:100%; max-width:700px; border:1px solid #ddd;">
	<img src="{{ url_for('static', filename='images/extension-guide/extension5.png') }}"
             alt="핀모양 눌러 고정 설정" style="width:100%; max-width:700px; border:1px solid #ddd;">

    </div>
</div>
{% endblock %}

